.stonekey_frame { height: 475px; width: 1320px; margin: 80px calc((100% - 1320px) / 2); }

.stonekey_item_title  { display: flex; flex-direction: column; text-align: center; }
.stonekey_item__title { font-size: 2.6rem; font-weight: 100; }
.stonekey_item__subhead { font-size: 1rem; font-weight: 100; }


.stonekey_item_tag { display: flex; align-items: center; justify-content: center; margin: 20px 0 40px 0; }
.stonekey_item_tag div { margin: 4px 0; }

.stonekey_item__tag { margin: 0 16px; padding: 0 10px; font-size: 1.2rem; color: var(--text_unselect); cursor: pointer; }
.active { color: var(--text_select); }


.stonekey_item_stone { display: grid; grid-template-columns: repeat(4, 1fr); gap: 80px; } 

.stonekey_item__stone { height: 300px; padding: 12px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; border-radius: 10px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }

.stonekey_item__stone div:nth-child(1) {  }
.stonekey_item__stone div:nth-child(2) { width: 100%; }

.stonekey_item__stone div { display: flex; flex-direction: column; }
.stonekey_item__stone div img { height: 140px; margin: 10px 0; object-fit: contain; }
.stonekey_item__stone div span { width: 100%; }

.stonelist_item__stone_category { margin-bottom: 4px; color: var(--primary2); }
.stonelist_item__stone_title { margin-bottom: 4px; font-size: 1.4rem; }
.stonelist_item__stone_describe { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
