.stonekey_frame { width: 1320px; margin: 80px calc((100% - 1320px) / 2); display: grid; column-gap: 60px; grid-template-columns: 16% 80%; }
.stonekey_item:nth-child(1) { grid-column-start: 1; grid-column-end: 3; }
.stonekey_item:nth-child(4) { grid-column-start: 1; grid-column-end: 3; }


.stonekey_item_head { display: flex; align-items: center; justify-content: space-between; margin-bottom: 4px; }
.stonekey_item_head span { font-size: 4rem; font-weight: 100; }
.stonekey_item__search {
    height: 28px;
    width: 200px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #D9DADB;
    border-radius: 4px;
}

.stonekey_item__search img { height: 30px; }
.stonekey_item__search input { height: 80%; width: 80%; padding-left: 12px; border: none; }
.stonekey_item__search input:focus { outline: none; }


/* 카테고리 리스트 */
.stonekey_item_category { padding: 0 10px; display: flex; flex-direction: column; border: 1px solid #EEEEEE; border-top: 1px solid #494949; }
.stonekey_item_category div { display: flex; justify-content: space-between; padding: 10px 0; }


/* 스톤 리스트 */
.stonekey_item_body { padding: 10px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 80px; border: 1px solid #EEEEEE; border-top: 1px solid #494949;  }

.stonekey_item__stone { height: 300px; padding: 12px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; border-radius: 10px; }


.stonekey_item__stone div:nth-child(1) {  }
.stonekey_item__stone div:nth-child(2) { width: 100%; }


.stonekey_item__stone div { display: flex; flex-direction: column; }
.stonekey_item__stone div img { height: 140px; margin: 10px 0; object-fit: contain; }
.stonekey_item__stone div span { width: 100%; }


.stonekey_item__stone_describe { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }


/* 페이지네이션 */
.stonekey_item_pagenation { margin: 40px 20%; display: flex; justify-content: center; gap: 4px; }
.stonekey_item_pagenation span { height: 24px; width: 24px; display: flex; align-items: center; justify-content: center; font-size: 1.2rem; border: 1px solid #EEEEEE; border-radius: 4px; cursor: pointer; }
.stonekey_item__img  { height: 24px; width: 24px; display: flex; align-items: center; justify-content: center; border: 1px solid #EEEEEE; border-radius: 4px; cursor: pointer; }

.stonekey_item_pagenation span:hover { background-color: #DDDDDD; }
.stonekey_item__img:hover { background-color: #DDDDDD; }


.icon_left  {
    height: 14px; width: 7px;
    background-color: var(--text2);
    --webkit-mask: url('/public/icon/angle-left.svg') no-repeat center;
    mask: url('/public/icon/angle-left.svg') no-repeat center;
    mask-size: cover; 
}
.icon_right {
    height: 14px; width: 7px;
    background-color: var(--text2);
    --webkit-mask: url('/public/icon/angle-right.svg') no-repeat center;
    mask: url('/public/icon/angle-right.svg') no-repeat center;
    mask-size: cover;
}