.userform_frame { width: 1320px; margin: 80px calc((100% - 1310px) / 2) 0; text-align: center; }

.userform_item { 
    width: 460px;
    margin: 0 auto;
}

.userform__item_title      { margin: 80px 0; }
.userform__item_title_text { font-size: 2.4rem; }

.userform__item__button { height: 46px; width: 340px; font-size: 1.4rem; color: white; background-color: #191919; cursor: pointer; }


.userform__item_action  { width: 340px; margin: 20px auto; display: flex; justify-content: space-between; }
.userform__item__action { display: flex; justify-content: center; gap: 4px; }
.userform__item__action_link { color: #000000; text-decoration-line: none; }

.userform__item_form_single input {
    height: 36px;
    width: 340px;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: #DBDBDB 1px solid;
}
.userform__item_form_single input:focus { outline: none; }

.userform__item_login  {  }