@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0020-007E;
}

* { font-family: 'Noto Sans KR', serif; margin: 0; padding: 0; }
html {
    font-size: 10px; 
    background-color: #EDEEF1; 
    font-family: "Roboto"; 
    overflow-y: scroll;

    --primary1: #2D4066;
    --primary2: #2D3D5F;
    --primary3: #203155;
    --primary-opacity: #2D4066be;

    --background1: #FFFFFF;
    --background2: #EDEDED;

    --shadow1: rgba(0, 0, 0, 0.65) 0px 2px 8px;
    --shadow2: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    --text: #000000;
}

::-webkit-scrollbar { width: 0; }


